<!-- Navigate -->
<!-- use controller as something ng-controller='EventCntrl as som' -->
	<nav class='navbar navbar-inverse navbar-fixed-to'>
		<div class='container'>
		<!-- Brand and toggle get grouped for better mobile display -->
			<div class='navbar-header'>
				<button type='button' class='navbar-toggle' data-toggle='collapse'>
					<span class='sr-only'>Toggle navigation</span>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
				</button>
			
		</div>
		<!-- Collect links, forms content for toggling-->
		<div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
			<ul class='nav navbar-nav'>
				<li ng-click='event.setIndex(0)' ng-class="(event.index==0) ? 'active' : ''">
				<a class='navbar-brand'href=''>My {{::event.title}}</a>
				</li>
				<li ng-click='event.setIndex(1)' ng-class="(event.index==1) ? 'active' : ''">
					<a href=''>{{event.menu[0].name}}</a>
				</li>
				<li ng-click='event.setIndex(2)' ng-class="(event.index==2) ? 'active' : ''">
					<a href=''>{{event.menu[1].name}}</a>
				</li>
			</ul>
		</div>
	</nav>